// ==========================================================
// Matt Lee 01-30-2016
// _colour.scss
// Version: 1.0
// URL: http://holden4u.com/Drupal/site1.local/colour.scss
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* colour =================================================== */

// 1. ROOT 				==============================
// 2. TYPOGRAPHY 			==============================   
// 3. COLOUR 				==============================
$bouquet:		#b37399; /* purple */ 
$midnight-blue:         #036;    /* dark blue */
$nebula:                #d2eldd; /* lighten blue */
$patina:                #699;    /* light green */
$venus:                 #998099; /* purple greyest */
$hopbush:               #c69;    /* light purple */
$lime:                  #b0eb00; /* light green */
$bright-red:             #b30015; /* */
$deep-cerulean:          #0077b3; /* royal blue  */
$bondi-blue:             #00b0b3; /* greenish blue */
$cyan:                   #24fbff; /* bright torquce  */
$heliotrope:             #8a7dff; /* blue purple */
$silver-chalice:         #a6a6a6; /* silver grey */
$scorpion:               #595959; /* */
$tundora:                #444;    /*low key grey */
$mine-shaft:             #363636; /* dark grey */
$cod-grey:               #111;    /* blackis grey */
$white:                 #ffffff;
//$med-grey:             #777;
$firebrick:            #b22222;
$darkolivegreen:        #556b2f;

// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 			==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 		==============================