/* line 1, ../sass/style.scss */
body {
  background-color: #a6a6a6;
  /* silver-chalice */
}

/* line 14, ../sass/style.scss */
html.overlay-open .navbar-fixed-top {
  z-index: 400;
}

/* line 17, ../sass/style.scss */
html.js fieldset.collapsed {
  height: auto;
}

/* line 20, ../sass/style.scss */
html.js input.form-autocomplete {
  background-image: none;
}

/* line 23, ../sass/style.scss */
body {
  position: relative;
}

/* line 27, ../sass/style.scss */
body.admin-expanded.admin-vertical.admin-nw .navbar, body.admin-expanded.admin-vertical.admin-sw .navbar {
  margin-left: 260px;
}

/* line 30, ../sass/style.scss */
body.navbar-is-fixed-top {
  padding-top: 64px !important;
}

/* line 33, ../sass/style.scss */
body.navbar-is-fixed-bottom {
  padding-bottom: 64px !important;
}

/* line 36, ../sass/style.scss */
body.toolbar {
  padding-top: 30px !important;
}

/* line 39, ../sass/style.scss */
body.toolbar .navbar-fixed-top {
  top: 30px;
}

/* line 42, ../sass/style.scss */
body.toolbar.navbar-is-fixed-top {
  padding-top: 94px !important;
}

/* line 45, ../sass/style.scss */
body.toolbar-drawer {
  padding-top: 64px !important;
}

/* line 48, ../sass/style.scss */
body.toolbar-drawer .navbar-fixed-top {
  top: 64px;
}

/* line 51, ../sass/style.scss */
body.toolbar-drawer.navbar-is-fixed-top {
  padding-top: 128px !important;
}

/* line 54, ../sass/style.scss */
body.admin-menu .navbar-fixed-top {
  top: 29px;
}

/* line 57, ../sass/style.scss */
body.admin-menu.navbar-is-fixed-top {
  padding-top: 93px !important;
}

/* line 60, ../sass/style.scss */
body div#admin-toolbar {
  z-index: 1600;
}

/* line 63, ../sass/style.scss */
body #toolbar, body #admin-menu, body #admin-toolbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 66, ../sass/style.scss */
body #admin-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
}

/* line 72, ../sass/style.scss */
body #admin-menu .dropdown li {
  line-height: normal;
}

/* line 75, ../sass/style.scss */
.navbar.container {
  margin-top: 20px;
  background-color: #036;
}

@media screen and (min-width: 768px) {
  /* line 80, ../sass/style.scss */
  .navbar.container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  /* line 84, ../sass/style.scss */
  .navbar.container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 89, ../sass/style.scss */
  .navbar.container {
    max-width: 1140px;
  }
}
/* line 93, ../sass/style.scss */
.navbar.container > .container {
  margin: 0;
  padding: 0;
  width: auto;
}

/* line 98, ../sass/style.scss */
#overlay-container, .overlay-modal-background, .overlay-element {
  z-index: 1500;
}

/* line 101, ../sass/style.scss */
#toolbar {
  z-index: 1600;
}

/* line 104, ../sass/style.scss */
.modal {
  z-index: 1620;
}

/* line 107, ../sass/style.scss */
.modal-dialog {
  z-index: 1630;
}

/* line 110, ../sass/style.scss */
.modal-backdrop {
  z-index: 1610;
}

/* line 113, ../sass/style.scss */
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

/* line 119, ../sass/style.scss */
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

/* line 123, ../sass/style.scss */
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  /* line 129, ../sass/style.scss */
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}
/* line 134, ../sass/style.scss */
ul.secondary {
  float: left;
}

@media screen and (min-width: 768px) {
  /* line 138, ../sass/style.scss */
  ul.secondary {
    float: right;
  }
}
/* line 140, ../sass/style.scss */
.page-header {
  margin-top: 0;
  color: #998099;
}

/* line 144, ../sass/style.scss */
.block:first-child h2.block-title {
  margin-top: 0;
}

/* line 149, ../sass/style.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 153, ../sass/style.scss */
.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}

/* line 158, ../sass/style.scss */
.region-help .block {
  overflow: hidden;
}

/* line 161, ../sass/style.scss */
form#search-block-form {
  margin: 0;
}

/* line 164, ../sass/style.scss */
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
}

@media screen and (min-width: 992px) {
  /* line 168, ../sass/style.scss */
  .navbar #block-search-form {
    float: right;
  }
}
/* line 171, ../sass/style.scss */
.navbar-search .control-group {
  margin-bottom: 0;
}

/* line 174, ../sass/style.scss */
ul.action-links {
  margin: 12px 0;
  padding: 0;
}

/* line 179, ../sass/style.scss */
ul.action-links li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
  color: yellow;
}

/* line 185, ../sass/style.scss */
ul.action-links .glyphicon {
  padding-right: 0.5em;
}

/* line 188, ../sass/style.scss */
input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}

/* line 192, ../sass/style.scss */
input.error {
  color: #b94a48;
  border-color: #ebccd1;
}

/* line 196, ../sass/style.scss */
fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0;
}

/* line 200, ../sass/style.scss */
fieldset .panel-body {
  clear: both;
}

/* line 203, ../sass/style.scss */
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}

/* line 208, ../sass/style.scss */
fieldset .panel-heading a.panel-title:hover {
  text-decoration: none;
}

/* line 211, ../sass/style.scss */
.form-actions {
  clear: both;
}

/* line 214, ../sass/style.scss */
.resizable-textarea textarea {
  border-radius: 4px 4px 0 0;
}

/* line 217, ../sass/style.scss */
.radio:first-child, .checkbox:first-child {
  margin-top: 0;
}

/* line 220, ../sass/style.scss */
.radio:last-child, .checkbox:last-child {
  margin-bottom: 0;
}

/* line 223, ../sass/style.scss */
.help-block, .control-group .help-inline {
  color: #999;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}

/* line 229, ../sass/style.scss */
.panel-heading {
  display: block;
}

/* line 233, ../sass/style.scss */
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}
