/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* line 5, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* colour =================================================== */
/* purple */
/* dark blue */
/* lighten blue */
/* light green */
/* purple greyest */
/* light purple */
/* light green */
/* */
/* royal blue  */
/* greenish blue */
/* bright torquce  */
/* blue purple */
/* silver grey */
/* */
/*low key grey */
/* dark grey */
/* blackis grey */
/* Font Awesome: http://fortawesome.github.com/Font-Awesome/

License
-------------------------------------------------------
The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
http://creativecommons.org/licenses/by/3.0/ A mention of
'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
source code is considered acceptable attribution (most common on the web).
If human readable source code is not available to the end user, a mention in
an 'About' or 'Credits' screen is considered acceptable (most common in desktop
or mobile software). */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("../fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 28, ../sass/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 39, ../sass/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/* line 43, ../sass/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 51, ../sass/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 57, ../sass/_font-awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 62, ../sass/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 69, ../sass/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 75, ../sass/_font-awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 81, ../sass/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 86, ../sass/_font-awesome.scss */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 90, ../sass/_font-awesome.scss */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 98, ../sass/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 99, ../sass/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 100, ../sass/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 101, ../sass/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 102, ../sass/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 103, ../sass/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 104, ../sass/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 105, ../sass/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 106, ../sass/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 107, ../sass/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 108, ../sass/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 109, ../sass/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 110, ../sass/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 111, ../sass/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 112, ../sass/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 113, ../sass/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 114, ../sass/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 115, ../sass/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 116, ../sass/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 117, ../sass/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 118, ../sass/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 119, ../sass/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 120, ../sass/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 121, ../sass/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 122, ../sass/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 123, ../sass/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 124, ../sass/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 125, ../sass/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 126, ../sass/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 127, ../sass/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
/* line 129, ../sass/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 130, ../sass/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 131, ../sass/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 132, ../sass/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 133, ../sass/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 134, ../sass/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 135, ../sass/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 136, ../sass/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 137, ../sass/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 138, ../sass/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 139, ../sass/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 140, ../sass/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 141, ../sass/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 142, ../sass/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 143, ../sass/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 144, ../sass/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 145, ../sass/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 146, ../sass/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 147, ../sass/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 148, ../sass/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 149, ../sass/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 150, ../sass/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 151, ../sass/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 152, ../sass/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 153, ../sass/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 154, ../sass/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 155, ../sass/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 156, ../sass/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 157, ../sass/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 158, ../sass/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 159, ../sass/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 160, ../sass/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 161, ../sass/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 162, ../sass/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 163, ../sass/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 164, ../sass/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 165, ../sass/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 166, ../sass/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 167, ../sass/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 168, ../sass/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 169, ../sass/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 170, ../sass/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 171, ../sass/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 172, ../sass/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 173, ../sass/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 175, ../sass/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 176, ../sass/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 177, ../sass/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 178, ../sass/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 179, ../sass/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 180, ../sass/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 181, ../sass/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 182, ../sass/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 183, ../sass/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 184, ../sass/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 185, ../sass/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 186, ../sass/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 187, ../sass/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 188, ../sass/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 189, ../sass/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 191, ../sass/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 192, ../sass/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 193, ../sass/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 194, ../sass/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 195, ../sass/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 196, ../sass/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 197, ../sass/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 198, ../sass/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 199, ../sass/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 200, ../sass/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 201, ../sass/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 202, ../sass/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 203, ../sass/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 204, ../sass/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 205, ../sass/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 206, ../sass/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 207, ../sass/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 208, ../sass/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 209, ../sass/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 210, ../sass/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 211, ../sass/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 212, ../sass/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 213, ../sass/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 214, ../sass/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 215, ../sass/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 216, ../sass/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 217, ../sass/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 218, ../sass/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 219, ../sass/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 220, ../sass/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 221, ../sass/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 222, ../sass/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 223, ../sass/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 224, ../sass/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 225, ../sass/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 226, ../sass/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 227, ../sass/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 228, ../sass/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 229, ../sass/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 230, ../sass/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 231, ../sass/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 232, ../sass/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 233, ../sass/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 234, ../sass/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 235, ../sass/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 236, ../sass/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 237, ../sass/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 238, ../sass/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 239, ../sass/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 240, ../sass/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/* Layout rules */
/* Component (SMACSS module) rules */
/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
